*{
    font-family: sans-serif;
}

body{
    margin: 50px 0px;
}

th {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
}

td {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2{
    margin: 50px 0px;
}

span{
    margin: 0px 10px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}